.navigation {
width: 100%;
height: 66px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1% -1%;
background-color: gainsboro;
background-image: linear-gradient(90deg, rgb(248, 241, 226), rgb(215, 240, 215));
border-radius: 18px 18px 0px 0px;
}
h4 {
  text-justify: auto;
  text-align: center;
  padding-left: 5px;
}

h4:hover {
   
    color: rgb(16, 73, 44);
    filter:brightness(1.5);

}

.navigation > .navbutton {
  display: inline;
  
}

.navigation > .navbutton > .navtitre {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
       
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 10px;

}

.nav-links a {
    text-decoration: none;
    background-color: #84f78927;
    padding: 15px;
    border-radius: 8px ;
    color: rgb(48, 11, 11);
    transition: color 0.3s;
   
}


.nav-links a:hover {
    color: #00bcd4;
    background-color: #e9dada86;


}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}